.bootstrap-iso {
    @import (less) 'bootstrap/dist/css/bootstrap.css';

     .icon-delete {
      display:inline-block;
      margin-right:10px;
      width: 30px;
     }

    width: 100%;

    /* override bootstrap 5.0*/
    ol,
    ul,
    dl {
    margin-top: 0;
    margin-bottom: 0rem;
    }

    *,
    *::before,
    *::after {
    box-sizing: content-box;
    }

    a {
    text-decoration: none;
    }
    
    table#totaldevis td{
      text-align: center;
    }

    td{
      white-space: normal;
      word-wrap: break-word;
    }
}

#hello {
	color: red;
}

#formulaire {
	margin-left:20px;
	margin-top:20px;
}

#content {
	width:100%;
}

#app {
	width:100%;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
	font-size: 3.5rem;
  }
}


.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.icon-details {
  display:inline-block;
  margin-right:10px;
  margin-left:10px;
  width: 30px;
 }

.navmarg {
  margin-left:10px;
}

#app-navigation:not(.vue) > ul > li > a, #app-navigation:not(.vue) > ul > li > ul > li > a {
  padding:0 12px 0 15px;
}